<!-- home.html -->
{% extends 'AuthBaseStudent.html' %} {% block title %} Login {% endblock %} 
{% block content %}

<div class="w-75">
  <h2 class="mb-4">Studnets  Sign In...</h2>
  {% if messages %}
  <div class="alert alert-danger mt-3">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  </div>
  {% endif %}
  
  <form method="post" action='login'>
    {% csrf_token %}
    <input type="hidden" name="role" value="student">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="email" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password"name="password" class="form-control" id="password" required />
    </div>
    
    <button type="submit" class="btn btn-primary w-100">Sign In</button>
  </form>
  
  <div class="mt-3 text-center">
    <span>Don't have an account? </span>
    <a href={% url "signup"%}?role=student class="text-decoration-none">Sign up</a>
  </div>
</div>
{% endblock %}
