<!-- home.html -->
{% extends 'AuthBaseStudent.html' %} {% block title %} Login {% endblock %} 
{% block content %}

<div class="w-50 rounded-3 shadow-lg p-5 ">
  <h4 class="mb-4 text-center">Sign In...</h4>
  {% if messages %}
  <div class="alert alert-danger mt-3">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  </div>
  {% endif %}
  
  <form method="post" action='login'>
    {% csrf_token %}
    <input type="hidden" name="role" value="student">
    <div class="mb-3">
      <input type="email" name="email" class="form-control" placeholder="email" id="email" required />
    </div>
    <div class="mb-3">
      <input type="password"name="password" class="form-control" placeholder="password"id="password" required />
    </div>
    
    <button type="submit" class="btn bg-navbar hover-custome text-white w-100">Sign In</button>
  </form>
  
  <div class="mt-3 text-center">
    <span>Don't have an account? </span>
    <a href={% url "signup"%}?role=student class="text-decoration-none">Sign up</a>
  </div>
</div>
{% endblock %}
