
{% extends 'StudentBase.html' %}
{% load static %}

{% block title %}Student Home{% endblock %}
{% block content %}

{% comment %} header section {% endcomment %}
<header class="container-fluid   header-container"  style="background-image: url('{% static "images/poo.png" %}'); background-position: center; background-repeat: no-repeat; background-size: cover; height: 85vh;">
    <div class="row ">
        <div class="col-md-6  d-none d-md-inline ps-2" style="background-image: url('{% static "images/pppp.jpg" %}'); background-position: center; background-repeat: no-repeat; background-size: cover; height: 85vh;">
        </div> 
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center m-auto  header_inner  slide-in ">
            <h3 class="fw-bolder text-center headeer-font">Learn on you'r schedule.</h3>
            <p class="fs-6 text-center mx-5 header-para"><strong>M-Learning</strong> offers flexible access to interactive courses and quizzes on mobile devices, enhancing engagement and understanding while catering to diverse learning styles anytime, anywhere.</p>
            <a class="btn navbar custom_button   mx-2" href="#course_section">Explor more</a>
        </div>
    </div>
</header>

{% comment %} why us section  {% endcomment %}

<main class="container mt-3 why_us   p-3 "  id="why_us">
            <div class="row p-4">
                <div class="col-md-3 ">
                    <h2 class="pt-sans-bold ">Why Choose Us</h2>
                    <p class="para-font">Build your brighter future with us.</p>
                </div>
                <div class="col-md-3 py-2 d-flex">
                    <i class="fas fa-book-open fs-1 "></i>
                    <div class="">
                    <h6 class="px-3  simple_font"> Best Learning</h6>
                    <p class="px-3 para-font">Build your brighter future.</p>
                </div>
                </div>
                <div class="col-md-3 py-2 d-flex">
                    <i class="fas fa-user-tie fs-1"></i>
                    <div>
                    <h6 class="px-3  simple_font"> Mentor Support</h6>
                    <p class="px-3 para-font">Build your brighter future.</p>
                </div>
                </div>
                <div class="col-md-3 py-2 d-flex">
                    <i class="fas fa-laptop-house fs-1"></i>
                    <div>
                    <h6 class="px-3  simple_font"> Advanced Facilities</h6>
                    <p class="px-3 para-font">Build your brighter future.</p>
                </div>
                </div>
            </div>

</main>

{% comment %} content about the site {% endcomment %}

<main class="container-fluid my-5 p-5 mt-5  bg-white d-flex flex-column align-items-center justify-content-center" id="about_us">
    <h2 class="text-center mb-4  p-3   pt-sans-bold">M-Learning</h2>
    <p class="p-2 text-center about-section ">
        <strong>M-learning</strong> is an innovative online learning platform designed to
        revolutionize education. Our mission is to bridge the gap between
        traditional classroom teaching and modern digital education. Whether
        you're a teacher looking to enhance your teaching methods or a student
        seeking personalized learning experiences, <strong>M-learning</strong> has something for
        everyone. Our platform offers interactive lessons tailored to individual
        student needs, real-time feedback and progress tracking, access to a
        vast library of educational resources, and collaborative tools for group
        projects and discussions. Ready to experience the future of education!
      
      </p>
</main>


{% comment %} couuse section  {% endcomment %}
<main class="container text-center my-5 p-5 mt-5  bg-white" id="course_section">
    <h2 class="text-center mb-4 p-3 ">Our Latest Courses</h2>
    <div class="row">
        {% for course in courses_with_teachers%}

        <div class="col-md-3 mb-4">
            <div class="card h-100 text-center">
                <img src={% static "images/course dummy.jpeg" %} class="card-img-top" alt="Web Development">
                <div class="card-body">
                    <Strong class="card-title fs-5 py-3">{{course.name}}</Strong>
                    <h5 class="card-title  ">{{course.teacher.username}}</h5>

                    <p class="card-text pt-3">{{course.description}} </p>
                    <a href="{%url "show_quiz" course.id %}?question_index=0" class="btn btn-info text-white">Start Quiz</a>
                </div>
            </div>
        </div>
        {% endfor %} 
             
        
    </div>
<a class="btn footer_background custom_button"   href="/show_courses ">Explore more</a>
      
</main>

{% endblock %}