
{% extends 'StudentBase.html' %}
{% load static %}

{% block title %}Student Home{% endblock %}
{% block content %}

{% comment %} header section {% endcomment %}
<header class="container-fluid   header-container"  style="background-image: url('{% static "images/poo.png" %}'); background-position: center; background-repeat: no-repeat; background-size: cover; height: 85vh;">
    <div class="row ">
        <div class="col-md-6  d-none d-md-inline ps-2" style="background-image: url('{% static "images/pppp.jpg" %}'); background-position: center; background-repeat: no-repeat; background-size: cover; height: 85vh;">
        </div> 
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center m-auto  header_inner  slide-in ">
            <h3 class="fw-bolder text-center headeer-font">Learn on you'r schedule.</h3>
            <p class="fs-6 text-center mx-5 header-para"><strong>M-Learning</strong> offers flexible access to interactive courses and quizzes on mobile devices, enhancing engagement and understanding while catering to diverse learning styles anytime, anywhere.</p>
            <a class="btn navbar custom_button   mx-2" href="#course_section">Explor more</a>
        </div>
    </div>
</header>

{% comment %} why us section  {% endcomment %}

<main class="container mt-3 why_us   p-3 "  id="why_us">
            <div class="row p-4">
                <div class="col-md-3 ">
                    <h2 class="pt-sans-bold ">Why Choose Us</h2>
                    <p class="para-font">Build your brighter future with us.</p>
                </div>
                <div class="col-md-3 py-2 d-flex">
                    <i class="fas fa-book-open fs-1 "></i>
                    <div class="">
                    <h6 class="px-3  simple_font"> Best Learning</h6>
                    <p class="px-3 para-font">Build your brighter future.</p>
                </div>
                </div>
                <div class="col-md-3 py-2 d-flex">
                    <i class="fas fa-user-tie fs-1"></i>
                    <div>
                    <h6 class="px-3  simple_font"> Mentor Support</h6>
                    <p class="px-3 para-font">Build your brighter future.</p>
                </div>
                </div>
                <div class="col-md-3 py-2 d-flex">
                    <i class="fas fa-laptop-house fs-1"></i>
                    <div>
                    <h6 class="px-3  simple_font"> Advanced Facilities</h6>
                    <p class="px-3 para-font">Build your brighter future.</p>
                </div>
                </div>
            </div>

</main>

{% comment %} content about the site {% endcomment %}

<div class="container-fluid p-0 py-5 " id="about_us">

    <div class="row p-0 ">
        <div class="col-lg-6 d-flex justify-content-center align-items-center bg-white rounded-end-5">
            <img src="{% static "images/8576.jpg" %} "style="width: 80%; height: auto;" alt="">
       </div>
      <div class="col-lg-6  d-flex  flex-column justify-content-center align-items-center py-5  ">
        <h3 class="fw-bold "><span class=" fw-bold text-warning ">M-L</span>earning</h3>
        <p class="about-us ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil et laudantium eius nesciunt consequatur distinctio, maxime cupiditate, cumque voluptatibus delectus rem? Magni rem vitae consectetur aliquid nulla natus iure laborum vel nemo doloremque sit alias tempora quaerat sed voluptates, quasi inventore veniam neque, aperiam totam repellat dicta quisquam. Sint vel ab rerum, doloremque dignissimos assumenda facere similique a impedit quod porro quo incidunt aliquam fuga eveniet! Repellat corrupti obcaecati nobis temporibus et esse nostrum adipisci unde vitae perspiciatis delectus sint aliquam inventore magnam, beatae sunt fugit dolores, maiores dignissimos velit aliquid eius. Commodi, ducimus quis rerum sed eveniet impedit?</p>

      </div>
      
    </div>
       
  </div>

{% comment %} couuse section  {% endcomment %}
<main class="container text-center my-5 p-5 mt-5  bg-white" id="course_section">
    <h2 class="text-center mb-4 p-3 ">Our Latest Courses</h2>
    <div class="row">
        {% for course in courses_with_teachers%}

        <div class="col-md-3 mb-4">
            <div class="card h-100 text-center">
                <img src={% static "images/course dummy.jpeg" %} class="card-img-top" alt="Web Development">
                <div class="card-body">
                    <Strong class="card-title fs-5 py-3">{{course.name}}</Strong>
                    <h5 class="card-title  ">{{course.teacher.username}}</h5>

                    <p class="card-text pt-3">{{course.description}} </p>
                    <a href="{%url "show_quiz" course.id %}?question_index=0" class="btn btn-info text-white">Start Quiz</a>
                </div>
            </div>
        </div>
        {% endfor %} 
             
        
    </div>
<a class="btn footer_background custom_button"   href="/show_courses ">Explore more</a>
      
</main>

{% endblock %}